tag selector: html
  background-color set to beige
  font-family  set to Verdana, Geneva, Tahoma, sans-serif
tag selector: body
  margin  set to 0
tag selector: header
  padding  set to 12px
tag selector: footer
  background-color set to burlywood
  margin-top  set to 24px
  padding set to 24px
tag selector: main
  max-width  set to 800px
  margin set to auto
class selector: .main-page-book-review
  background-color set to white
  border  set to 1px solid lightblue
  padding set to 24px
class selector: .book-cover
  width  set to 200px
  height  set to auto
class selector: .book-title
  font-weight  set to bold
  font-size  set to 150%
class selector: .book-rating
  font-size set to 125%
  class selector: .book-authors
  color set to dimgray
